<section class="add-passwords">
  <h4 class="select-school">Select School:</h4>
  <select class="form-control" ng-model="view.selectedSchool" ng-change="data.showLinkInfo(view.selectedSchool)">
    <option value="default"> -- no selection -- </option>
    <option value="test">Indigo Parents Test</option>
    <option value="caprock">Caprock Academy</option>
  </select>
  <h4 class="unassigned-passwords" ng-show="view.selectedSchool !== 'default'">{{data.mlPwQty}} Unassigned Passwords Available</h4>
  <div class="load-csv-cta" ng-show="view.selectedSchool !== 'default'">
    <h4>Upload TTI Password CSV files</h4>
    <p>From TTI Link --> Link Management --> Passwords --> Export --> Select Date Range which Includes all Passwords, or recently created ones if all are already loaded (will work regardless)</p>
    <form class="load-csv" ng-submit="data.addPasswords()">
      <input class="form-control" type="file" accept=".csv" fileread="data.pwObj">
      <button class="form-control" type="submit">Add Passwords</button>
    </form>
  </div>
</section>
