<main class="page-body-full checkout-page">
  <h1>Finalize and Submit Purchase</h1>
  <h4 class="checkout-context">Once your purchase is successfully submitted, you will receive access to your Indigo Inventory via the email you provide</h4>
  <section class="checkout">
    <form class="control-group checkout-form" name="submitCheckout" ng-submit="data.purchaseSubmission()">
      <div class="checkout-left">
        <div class="checkout-user">
          <h4 class="checkout-subtitle">Personal Information</h4>
          <div class="checkout-top-row">
            <input class="form-control first-name" type="text" placeholder="first name" ng-model="form.firstName" required>
            <input class="form-control last-name" type="text" placeholder="last name" ng-model="form.lastName" required>
          </div>
          <div class="checkout-mid-row">
            <!-- <select class="form-control" ng-model="form.gender" required>
              <option value="" disabled selected>M/F</option>
              <option value="M">M</option>
              <option value="F">F</option>
            </select> -->
            <input class="form-control email" type="email" placeholder="email" ng-model="form.email" required>
          </div>
          <div class="checkout-bottom-row">
            <!-- <input class="form-control company" type="text" placeholder="company" ng-model="form.company">
            <input class="form-control job/position" type="text" placeholder="job/position" ng-model="form.position_job"> -->
          </div>
        </div>
        <div class="checkout-payment">
          <h4 class="checkout-subtitle">Payment Method</h4>
          <div class="checkout-top-row">
            <input class="form-control billing-first-name" type="text" placeholder="first name on card" ng-model="form.billingFirstName" required>
            <input class="form-control billing-last-name" type="text" placeholder="last name on card" ng-model="form.billingLastName" required>
          </div>
          <input class="form-control card-number" type="text" placeholder="credit/debit card number" ng-model="form.cardNumber" pattern=".{16}" title="must be 16 digits in the following format: '4242424242424242'" required>
          <div class="checkout-bottom-row">
            <input class="form-control exp-month" type="text" placeholder="08" ng-model="form.expM" pattern=".{2}" title="please enter expiration month in the following format: '02' = February" required>
            <input class="form-control exp-year" type="text" placeholder="2020" ng-model="form.expY"  pattern=".{4}" title="please enter the expiration year in the following format: '2020'"required>
            <input class="form-control sec-number" type="text" placeholder="CVC/CVV" ng-model="form.CVV"  pattern=".{3}" title="please enter 3 digit CVV security code in the following format: '123'" required>
          </div>
        </div>
        <!-- <button class="empty-cart-cta-2" ng-click="data.resetOrder()">reset order</button> -->
      </div>
      <div class="checkout-right">
        <div class="order-summary">
          <h3 class="checkout-subtitle">Order Summary</h3>
          <h4>Items</h4>
          <!-- <p>{{data.cart}}</p> -->
          <p>{{data.cart.title}} x {{data.cart.quantity}}</p>
          <h4>Subtotal</h4>
          <p>{{data.cart.price * data.cart.quantity | currency}}</p>
        </div>
        <input class="form-control submit-purchase" type="submit" value="Submit Purchase" required>
        <h4 class="payment-process" ng-show="view.processingPayment === 'processing'">Processing Payment...</h4>
        <h4 class="payment-process" ng-show="view.processingPayment === 'success'">Successful Transaction! Check your email..</h4>
      </div>
    </form>
    <form ng-submit="data.resetOrder()">
      <button class="empty-cart-cta-2" type="submit"><< back</button>
    </form>
  </section>
</main>
