<main class="page-body-wmast products-page" ng-init="data.getIndigoInventory()">
  <section class="loading-filler" ng-show="!data.productsLoaded">
    <img class="filler-logo" ng-src="../../../assets/img/IndigoParents.png" alt="">
  </section>
  <section class="all-products" ng-show="data.productsLoaded">
    <div class="one-product" ng-repeat="product in data.products">
      <div class="product-left">
        <img class="product-img" ng-src="{{product.product_img}}" alt="product image">
      </div>
      <div class="product-right">
        <div class="product-heading">
          <h2>{{product.product_title}}</h2>
          <h2 class="price">$25.00</h2>
        </div>
        <div class="product-details">
          <p class="product-description">
          The Indigo Inventory is a comprehensive strengths based survey with over 30 years of research. The tool is used in more than 100,000 companies worldwide, helping top business executives become better leaders through their strengths. Now, the Indigo Inventory is used in high schools around the country to help educators, students, and parents gain greater insight on their strengths and motivations to help prepare the next generation of leaders.<br>
          <br>
          This is our version of the Indigo Inventory created just for parents. Upon completing it, you will receive a full report that goes over your Strengths, DISC (your personality & communication style) and Motivators (what motivates you).<br>
          <br>
          We hope that you enjoy learning about yourself and your child’s strengths!
          </p>
        </div>
        <div ng-controller="Cart_Controller" class="cart-cta">
          <form name="addToCart" ng-submit="data.addToCart(product.product_slug)" class="form-group">
            <!-- <label for="quantity">Qty:</label>
            <input type="number" name="quantity" class="form-control quantity" ng-model="form.orderQuantity" ng-init="form.orderQuantity = 1" required> -->
            <input type="submit" class="form-control add-to-cart" value="{{data.purchaseCta}}">
          </form>
        </div>
      </div>
    </div>
  </section>
  <section ng-show="data.productsLoaded" class="quotes">
    <div class="quote">
      <div class="image-cropper">
        <img class="parent-img-1" ng-src="../assets/img/teacher.jpg" alt="parent">
      </div>
      <p>"The strongest life planning tool that I've ever experienced and the best $50 I have ever spent on my son."
          - High School Parent</p>
    </div>
    <div class="quote">
      <div class="image-cropper">
        <img class="parent-img-2" ng-src="../assets/img/Parent 3.png" alt="parent">
      </div>
      <p>“Enlightening. Worth the time and money to help you understand yourself and your child. It immediately opened up some dialogues for my child and me.”
          — High School Parent</p>
    </div>
  </section>
</main>
