<main class="page-body-wmast shopping-cart">
  <h2 class="page-title" ng-show="data.totalCartQty">Shopping Cart</h2>
  <section class="all-items" ng-show="data.totalCartQty">
    <div class="cart-headers">
      <p>item</p>
      <p id="cart-quantity-header">quantity</p>
      <p id="cart-price-header">price</p>
    </div>
    <div class="one-item" ng-repeat="product in data.cart">
      <div class="item-left">
        <img class="item-img" ng-src="{{product[data.cartKey].images[0].url.https}}">
        <h3 class="item-title">{{product[data.cartKey].title}}</h3>
      </div>
      <div class="item-right">
        <form class="form-group" name="updateCart" ng-submit="data.updateCartQuantity(form.updateQuantity)">
          <input type="number" name="quantity" class="form-control update-quantity" ng-model="form.updateQuantity" ng-init="form.updateQuantity = product[data.cartKey].quantity" required>
          <input type="submit" class="form-control update-cart" value="Update Cart">
        </form>
        <h4>{{ product[data.cartKey].price | currency }}</h4>
      </div>
    </div>
    <div class="cart-totals">
      <h4 class="cart-subtotal-title">subtotal: </h4>
      <h4 class="cart-subtotal-price">{{data.cart[0][data.cartKey].quantity * 25 | currency }}</h4>
    </div>
    <div class="cart-ctas">
      <button class="empty-cart-cta form-control" ng-click="data.emptyCart()">Empty Cart</button>
      <button class="checkout-cta form-control" ng-click="data.goToCheckout()"><a>Checkout</a></button>
    </div>
  </section>
  <section ng-show="!data.totalCartQty">
    <h2 class="page-title">Cart Empty</h2>
    <button class="cart-empty-cta form-control" ui-sref="productsPage">Add Indigo Inventory to Cart</button>
  </section>
</main>
