body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}

// MASTHEAD
header.masthead {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: white;
  margin: 0;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  .masthead-start-filler {
    width: 7.5vw;
  }
  .masthead-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5vw;
  }
  .masthead-mid-filler {
    width: 55vw;
  }
  .masthead-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
  }
  .masthead-end-filler {
    width: 10vw;
  }
}

img.masthead-logo {
  width: 100%;
  height: auto;
}

span.cart-green {
  color: #7BBF4A;
}


// MAIN BODY SECTIONS
main.page-body-wmast {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  &.landing-page {
    height: 85vh;
    // background: url('file:///C:/Users/Paul/Galvanize/workspace/projects/IndigoParents/public/assets/img/Parent1.png');
    background-color: rgba(79, 68, 152, 1);
  }
  &.products-page {
    background-color: rgba(#4f4498, 0.2);
  }
  &.shopping-cart {
    height: 85vh;
    background-color: #ffffff;
  }
  &.checkout-page {
    height: 85vh;
    background-color: #ffffff;
  }
  &.checkout-success {
    height: 85vh;
    background-color: #ffffff;
  }
}

main.page-body-full {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  margin: 0;
}

// LANDING PAGE
// img.landing-background-img {
//   position: relative;
//   z-index: 999;
//   width: 100vw;
//   height: auto;
//   opacity: 0.4;
// }
//
// img.landing-background {
//   position: relative;
//   z-index: 1000;
//   width: 100vw;
//   height: auto;
//   opacity: 0.4;
// }

img.landing-logo {
  width: 40vw;
  height: auto;
  margin: 10vh;
}

button.landing-cta {
  width: 25vw;
  height: 6vh;
  font-size: 18px;
  border: none;
  color: white;
  background-color:#7BBF4A;
  margin-right: 4vw;
}
// FOOTER
div.footer {
  max-width: 100%;
  height: 5vh;
  background-color: #1F1F1F;
  margin: 0;
}

// PRODUCTS
section.loading-filler {
  max-width: 100%;
  height: 100vh;
  background-color: white;
}

img.filler-logo {
  width: 40%;
  height: auto;
  margin: 10vh 0 0 30vw;
  opacity: 0.3;
}

section.all-products {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin-top: 12vh;
}

div.one-product {
  display: flex;
  border-bottom: 1px solid #888888;
  padding-bottom: 3vh;
  margin-bottom: 3vh;
  div.product-left {
    img.product-img {
      width: 15vw;
      height: auto;
      border: 0.5px solid #888888;
    }
  }
  div.product-right {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 0px 0px 0px 4vw;
    div.product-heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3vh;
      h2.price {
        font-weight: 200;
      }
    }
    div.product-details {
      margin-bottom: 10.5vh;
    }
    div.cart-cta {
      width: 20vw;
      margin-left: 26vw;
      form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        label {
          font-size: 18px;
          margin: 0.5vh 0vw 0vh 1.5vw;
        }
        .quantity {
          width: 60px;
        }
        .add-to-cart {
          width: 140px;
          color: #ffffff;
          background-color: #7BBF4A;
        }
      }
    }
  }
}

section.quotes {
  display: flex;
  flex-direction: column;
  width: 65vw;
  height: auto;
  margin-bottom: 10vh;
}

div.quote {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px;
  .image-cropper {
    width: 5vw;
    height: 5vw;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 3vw;
    img.parent-img-1 {
      width: 7vw;
      height: 5vw;
    }
    img.parent-img-2 {
      width: 9vw;
      height: 5vw;
    }
  }
  p {
    width: 55vw;
  }
}

// SHOPPING CART
h2.page-title {
  margin: 8vh 51vw 0 0;
}

section.all-items {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin-top: 4vh;
}

div.cart-headers {
  display: flex;
  justify-content: space-between;
  padding: 0;
  p {
    font-weight: bold;
  }
}

#cart-quantity-header {
  margin-left: 15vw;
}
#cart-price-header {
  margin-right: 10vw;
}

div.one-item {
  display: flex;
  padding: 3vh 0 3vh 0;
  margin: 1vh 0 3vh 0;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  div.item-left {
    display: flex;
    width: 33vw;
    img.item-img {
      width: 8vw;
      height: 20vh;
      border: 0.5px solid #888888;
    }
    h3.item-title {
      font-weight: 200;
      margin: 7vh 0 0 3vw;
    }
  }
  div.item-right {
    display: flex;
    width: 32vw;
    form {
      display: flex;
      width: 18vw;
      margin-top: 6.5vh;
      input.update-quantity {
        width: 60px;
        margin-right: 20px;
      }
      input.update-cart {
        width: 100px;
        color: white;
        background-color: rgba(79, 68, 152, 1)
      }
    }
    h4 {
      font-weight: 200;
      margin: 7.5vh 0 0 1.75vw;
    }
  }
}

div.cart-totals {
  display: flex;
  width: 20vw;
  border-bottom: 1px solid #888888;
  padding-bottom: 2.5vh;
  margin: 0 0 3vh 45vw;
  h4 {
    font-weight: 200;
    &.cart-subtotal-title {
      margin-left: 7vw;
    }
    &.cart-subtotal-price {
      margin-left: 3vw;
    }
  }
}

div.cart-ctas {
  display: flex;
  justify-content: space-between;
}

button.empty-cart-cta {
  width: 120px;
  border: none;
  color: white;
  background-color: #d94848;
}

button.checkout-cta {
  width: 150px;
  font-size: 16px;
  border: none;
  background-color: #7BBF4A;
  a {
    color: #ffffff;
  }
}

button.cart-empty-cta {
  width: 25vw;
  height: 6vh;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #7BBF4A;
  margin-top: 5vh;
}


// CHECKOUT PAGE

main.checkout-page {
  padding: 100px;
  h1 {
    margin-bottom: 10px;
  }
  h4.checkout-context {
    font-weight: 200;
  }
}

.checkout-subtitle {
  font-weight: 200;
  margin-bottom: 10px;
}

section.checkout {
  width: 45vw;
  height: 50vh;
  margin-top: 40px;
}

form.checkout-form {
  display: flex;
  justify-content: space-between;
}

div.checkout-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .checkout-top-row {
    display: flex;
  }
  .checkout-mid-row {
    display: flex;
    select {
      width: 50px;
      margin-right: 15px;
    }
  }
  .checkout-bottom-row {
    display: flex;
    input {
      width: 150px;
      &.company {
        margin-right: 15px;
        width: 170px;
      }
    }
  }
  input {
    margin-bottom: 10px;
    &.first-name {
      width: 140px;
      margin-right: 15px;
    }
  }
}
div.checkout-payment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .checkout-top-row {
    display: flex;
  }
  .checkout-bottom-row {
    display: flex;
  }
  input {
    margin-bottom: 10px;
    &.billing-first-name {
      width: 140px;
      margin-right: 15px;
    }
    &.exp-month {
      width: 50px;
      margin-right: 15px;
    }
    &.exp-year {
      width: 70px;
    }
    &.sec-number {
      width: 100px;
      margin-left: 15px;
    }
  }
}

div.order-summary {
  h4 {
    margin-bottom: 3px;
  }
}

input.submit-purchase {
  color: white;
  background-color:#7BBF4A;
  margin-top: 20px;
}

h4.payment-process {
  margin-top: 65px;
  width: 165px;
}

// CHECKOUT SUCCESS

main.checkout-success {
  padding: 100px;
  h1 {
    margin-bottom: 20px;
  }
  h3 {
    font-weight: 200;
  }
  button.return-home {
    width: 200px;
    color: white;
    background-color: rgba(79, 68, 152, 1);
    margin-top: 30px;
  }
}

// ADMIN

form.admin-login {
  margin: 15px 0px 0px 10px;
  div {
    display: flex;
    margin-top: 10px;
  }
  input.form-control {
    width: 200px;
    margin-right: 15px;
  }
  button.form-control {
    width: 150px;
  }
}

h3.admin-portal {
  margin: 15px 0px 0px 10px;
}

section.select-function {
  margin: 25px 10px 0px 10px;
  padding: 0px 0px 20px 0px;
  select {
    margin-top: 5px;
    width: 200px;
  }
  border-bottom: 1px solid black;
}

section.add-passwords {
  margin: 25px 10px 0px 10px;
  select {
    margin: 5px 0px 10px 0px;
    width: 400px;
  }
}

section.generate-link {
  margin: 25px 10px 0px 10px;
  select {
    margin: 5px 0px 10px 0px;
    width: 400px;
  }
  a {
    margin-left: 5px;
  }
}

h4.unassigned-passwords {
  margin-top: 20px;
  color: green;
}

div.load-csv-cta {
  margin-top: 25px;
}

form.load-csv {
  h4 {
    margin-bottom: 5px;
  }
  input {
    width: 300px;
    background-color: rgb(196, 214, 255);
    border: 1px solid black;
    box-shadow: -1px 1px 1px 0px black;
    margin-bottom: 10px;
  }
  button {
    width: 200px;
  }
}

h5.qty-loaded {
  margin-top: 10px;
  color: green;
}


// SCHOOL SITE REDIRECT SEQUENCE
h2.redirect-text {
  margin: 30px 0px 0px 438px;
  color: rgb(130, 130, 130);
}
