body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
}

// MASTHEAD
header.masthead {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: white;
  margin: 0;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  .masthead-start-filler {
    width: 7.5vw;
  }
  .masthead-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5vw;
  }
  .masthead-mid-filler {
    width: 55vw;
  }
  .masthead-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
  }
  .masthead-end-filler {
    width: 10vw;
  }
}

img.masthead-logo {
  width: 100%;
  height: auto;
}

span.cart-green {
  color: #7BBF4A;
}


// MAIN BODY SECTIONS
main.page-body-wmast {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  &.landing-page {
    height: 85vh;
    // background: url('file:///C:/Users/Paul/Galvanize/workspace/projects/IndigoParents/public/assets/img/Parent1.png');
    background-color: rgba(79, 68, 152, 1);
  }
  &.products-page {
    background-color: rgba(#4f4498, 0.2);
  }
  &.shopping-cart {
    height: 85vh;
    background-color: #ffffff;
  }
  &.checkout-page {
    height: 85vh;
    background-color: #ffffff;
  }
  &.checkout-checkout-success {
    height: 85vh;
    background-color: #ffffff;
  }
}

main.page-body-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  margin: 0;
}

// LANDING PAGE
// img.landing-background-img {
//   position: absolute;
//   z-index: 1000;
//   width: 100vw;
//   height: auto;
//   opacity: 0.4;
// }
// img.landing-background {
//   position: absolute;
//   z-index: 1000;
//   width: 100vw;
//   height: auto;
//   opacity: 0.4;
// }

img.landing-logo {
  width: 40vw;
  height: auto;
  margin: 10vh;
}

button.landing-cta {
  width: 25vw;
  height: 6vh;
  font-size: 18px;
  border: none;
  color: white;
  background-color:#7BBF4A;
  margin-right: 4vw;
}
// FOOTER
div.footer {
  max-width: 100%;
  height: 5vh;
  background-color: #1F1F1F;
  margin: 0;
}

// PRODUCTS
section.all-products {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin-top: 12vh;
}

div.one-product {
  display: flex;
  border-bottom: 1px solid #888888;
  padding-bottom: 3vh;
  margin-bottom: 3vh;
  div.product-left {
    img.product-img {
      width: 15vw;
      height: auto;
      border: 0.5px solid #888888;
    }
  }
  div.product-right {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 0px 0px 0px 4vw;
    div.product-heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3vh;
      h2.price {
        font-weight: 200;
      }
    }
    div.product-details {
      margin-bottom: 10.5vh;
    }
    div.cart-cta {
      width: 20vw;
      margin-left: 26vw;
      form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        label {
          font-size: 18px;
          margin: 0.5vh 0vw 0vh 1.5vw;
        }
        .quantity {
          width: 60px;
        }
        .add-to-cart {
          width: 140px;
          color: #ffffff;
          background-color: #7BBF4A;
        }
      }
    }
  }
}

section.quotes {
  display: flex;
  flex-direction: column;
  width: 65vw;
  height: auto;
  margin-bottom: 10vh;
}

div.quote {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px;
  .image-cropper {
    width: 5vw;
    height: 5vw;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 3vw;
    img.parent-img-1 {
      width: 7vw;
      height: 5vw;
    }
    img.parent-img-2 {
      width: 9vw;
      height: 5vw;
    }
  }
  p {
    width: 55vw;
  }
}
