h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.masthead-nav h4 {
  font-family: Optima;
  color: #888888; }
.masthead-nav a {
  text-decoration: none; }

p.product-description {
  font-size: 20px; }

div.quote p {
  font-style: italic; }

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto; }

header.masthead {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: white;
  margin: 0;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6); }
  header.masthead .masthead-start-filler {
    width: 7.5vw; }
  header.masthead .masthead-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5vw; }
  header.masthead .masthead-mid-filler {
    width: 55vw; }
  header.masthead .masthead-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw; }
  header.masthead .masthead-end-filler {
    width: 10vw; }

img.masthead-logo {
  width: 100%;
  height: auto; }

span.cart-green {
  color: #7BBF4A; }

main.page-body-wmast {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-top: 10vh; }
  main.page-body-wmast.landing-page {
    height: 85vh;
    background-color: #4f4498; }
  main.page-body-wmast.products-page {
    background-color: rgba(79, 68, 152, 0.2); }
  main.page-body-wmast.shopping-cart {
    height: 85vh;
    background-color: #ffffff; }
  main.page-body-wmast.checkout-page {
    height: 85vh;
    background-color: #ffffff; }
  main.page-body-wmast.checkout-success {
    height: 85vh;
    background-color: #ffffff; }

main.page-body-full {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  margin: 0; }

img.landing-logo {
  width: 40vw;
  height: auto;
  margin: 10vh; }

button.landing-cta {
  width: 25vw;
  height: 6vh;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #7BBF4A;
  margin-right: 4vw; }

div.footer {
  max-width: 100%;
  height: 5vh;
  background-color: #1F1F1F;
  margin: 0; }

section.loading-filler {
  max-width: 100%;
  height: 100vh;
  background-color: white; }

img.filler-logo {
  width: 40%;
  height: auto;
  margin: 10vh 0 0 30vw;
  opacity: 0.3; }

section.all-products {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin-top: 12vh; }

div.one-product {
  display: flex;
  border-bottom: 1px solid #888888;
  padding-bottom: 3vh;
  margin-bottom: 3vh; }
  div.one-product div.product-left img.product-img {
    width: 15vw;
    height: auto;
    border: 0.5px solid #888888; }
  div.one-product div.product-right {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 0px 0px 0px 59px; }
    div.one-product div.product-right div.product-heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3vh; }
      div.one-product div.product-right div.product-heading h2.price {
        font-weight: 200; }
    div.one-product div.product-right div.product-details {
      margin-bottom: 7vh; }
      div.one-product div.product-right div.product-details p {
        font-size: 14.5px; }
    div.one-product div.product-right div.cart-cta {
      width: 20vw;
      margin-left: 26vw; }
      div.one-product div.product-right div.cart-cta form {
        display: flex;
        justify-content: flex-end;
        width: 100%; }
        div.one-product div.product-right div.cart-cta form label {
          font-size: 18px;
          margin: 0.5vh 0vw 0vh 1.5vw; }
        div.one-product div.product-right div.cart-cta form .quantity {
          width: 60px; }
        div.one-product div.product-right div.cart-cta form .add-to-cart {
          width: 140px;
          color: #ffffff;
          background-color: #7BBF4A; }

section.quotes {
  display: flex;
  flex-direction: column;
  width: 65vw;
  height: auto;
  margin-bottom: 10vh; }

div.quote {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px; }
  div.quote .image-cropper {
    width: 5vw;
    height: 5vw;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 3vw; }
    div.quote .image-cropper img.parent-img-1 {
      width: 7vw;
      height: 5vw; }
    div.quote .image-cropper img.parent-img-2 {
      width: 9vw;
      height: 5vw; }
  div.quote p {
    width: 55vw; }

h2.page-title {
  margin: 8vh 51vw 0 0; }

section.all-items {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin-top: 4vh; }

div.cart-headers {
  display: flex;
  justify-content: space-between;
  padding: 0; }
  div.cart-headers p {
    font-weight: bold; }

#cart-quantity-header {
  margin-left: 15vw; }

#cart-price-header {
  margin-right: 10vw; }

div.one-item {
  display: flex;
  padding: 3vh 0 3vh 0;
  margin: 1vh 0 3vh 0;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888; }
  div.one-item div.item-left {
    display: flex;
    width: 33vw; }
    div.one-item div.item-left img.item-img {
      width: 8vw;
      height: 20vh;
      border: 0.5px solid #888888; }
    div.one-item div.item-left h3.item-title {
      font-weight: 200;
      margin: 7vh 0 0 3vw; }
  div.one-item div.item-right {
    display: flex;
    width: 32vw; }
    div.one-item div.item-right form {
      display: flex;
      width: 18vw;
      margin-top: 6.5vh; }
      div.one-item div.item-right form input.update-quantity {
        width: 60px;
        margin-right: 20px; }
      div.one-item div.item-right form input.update-cart {
        width: 100px;
        color: white;
        background-color: #4f4498; }
    div.one-item div.item-right h4 {
      font-weight: 200;
      margin: 7.5vh 0 0 1.75vw; }

div.cart-totals {
  display: flex;
  width: 20vw;
  border-bottom: 1px solid #888888;
  padding-bottom: 2.5vh;
  margin: 0 0 3vh 45vw; }
  div.cart-totals h4 {
    font-weight: 200; }
    div.cart-totals h4.cart-subtotal-title {
      margin-left: 7vw; }
    div.cart-totals h4.cart-subtotal-price {
      margin-left: 3vw; }

div.cart-ctas {
  display: flex;
  justify-content: space-between; }

button.empty-cart-cta {
  width: 120px;
  border: none;
  color: white;
  background-color: #d94848; }

button.empty-cart-cta-2 {
  width: 80px;
  border: none;
  color: #9e9e9e;
  background-color: white; }
  button.empty-cart-cta-2:hover {
    color: #5790ff; }

button.checkout-cta {
  width: 150px;
  font-size: 16px;
  border: none;
  background-color: #7BBF4A; }
  button.checkout-cta a {
    color: #ffffff; }

button.cart-empty-cta {
  width: 25vw;
  height: 6vh;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #7BBF4A;
  margin-top: 5vh; }

main.checkout-page {
  padding: 100px; }
  main.checkout-page h1 {
    margin-bottom: 10px; }
  main.checkout-page h4.checkout-context {
    font-weight: 200; }

.checkout-subtitle {
  font-weight: 200;
  margin-bottom: 10px; }

section.checkout {
  width: 45vw;
  height: 50vh;
  margin-top: 40px; }

form.checkout-form {
  display: flex;
  justify-content: space-between; }

div.checkout-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  div.checkout-user .checkout-top-row {
    display: flex; }
  div.checkout-user .checkout-mid-row {
    display: flex; }
    div.checkout-user .checkout-mid-row select {
      width: 50px;
      margin-right: 15px; }
  div.checkout-user .checkout-bottom-row {
    display: flex; }
    div.checkout-user .checkout-bottom-row input {
      width: 150px; }
      div.checkout-user .checkout-bottom-row input.company {
        margin-right: 15px;
        width: 170px; }
  div.checkout-user input {
    margin-bottom: 10px; }
    div.checkout-user input.first-name {
      width: 140px;
      margin-right: 15px; }

div.checkout-payment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  div.checkout-payment .checkout-top-row {
    display: flex; }
  div.checkout-payment .checkout-bottom-row {
    display: flex; }
  div.checkout-payment input {
    margin-bottom: 10px; }
    div.checkout-payment input.billing-first-name {
      width: 140px;
      margin-right: 15px; }
    div.checkout-payment input.exp-month {
      width: 50px;
      margin-right: 15px; }
    div.checkout-payment input.exp-year {
      width: 70px; }
    div.checkout-payment input.sec-number {
      width: 100px;
      margin-left: 15px; }

div.order-summary h4 {
  margin-bottom: 3px; }

input.submit-purchase {
  color: white;
  background-color: #7BBF4A;
  margin-top: 20px; }

h4.payment-process {
  margin-top: 65px;
  width: 165px; }

main.checkout-success {
  padding: 100px; }
  main.checkout-success h1 {
    margin-bottom: 20px; }
  main.checkout-success h3 {
    font-weight: 200; }
  main.checkout-success button.return-home {
    width: 200px;
    color: white;
    background-color: #4f4498;
    margin-top: 30px; }

form.admin-login {
  margin: 15px 0px 0px 10px; }
  form.admin-login div {
    display: flex;
    margin-top: 10px; }
  form.admin-login input.form-control {
    width: 200px;
    margin-right: 15px; }
  form.admin-login button.form-control {
    width: 150px; }

h3.admin-portal {
  margin: 15px 0px 0px 10px; }

section.select-function {
  margin: 25px 10px 0px 10px;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid black; }
  section.select-function select {
    margin-top: 5px;
    width: 200px; }

section.add-passwords {
  margin: 25px 10px 0px 10px; }
  section.add-passwords select {
    margin: 5px 0px 10px 0px;
    width: 400px; }

section.generate-link {
  margin: 25px 10px 0px 10px; }
  section.generate-link select {
    margin: 5px 0px 10px 0px;
    width: 400px; }
  section.generate-link a {
    margin-left: 5px; }

h4.unassigned-passwords {
  margin-top: 20px;
  color: green; }

div.load-csv-cta {
  margin-top: 25px; }

form.load-csv h4 {
  margin-bottom: 5px; }
form.load-csv input {
  width: 300px;
  background-color: #c4d6ff;
  border: 1px solid black;
  box-shadow: -1px 1px 1px 0px black;
  margin-bottom: 10px; }
form.load-csv button {
  width: 200px; }

h5.qty-loaded {
  margin-top: 10px;
  color: green; }

h2.redirect-text {
  margin: 30px 0px 0px 438px;
  color: #828282; }

/*# sourceMappingURL=style.css.map */
